# IDEs
.vscode/
.idea/

# Rust
**/target
**/target*
debug/
**/Cargo.lock
**/*.rs.bk
*.pdb

# Kernel
**/kernel_path
**/Kbuild
build/
**/build*


# Testing artifacts
test_llm.json

# SAST
sonar-project.properties
.scannerwork/

